body {
	color: #ecf0f1;
	font-family: 'Fira Sans', sans-serif;
}
h1,
h2 {
	font-weight: bold;
}
p {
	font-size: 16px;
	color: #cdcdcd;
}

.navbar {
	margin-bottom: 0;
	background-color: #ecf0f1;
	color: #34495e;
}

.navbar a {
	color: #34495e;
	font-size: 18px;
}


.row {
	padding: 5.5% 155px;
	background-color: #ecf0f1;
}

.slide {
	padding: 7.5px 300px;
	position:; 
}

.footer {
	width: 100%
	color: #34495e;
	padding: 40px 0;
}

.footer p {
	color: #34495e;
}