body {
	color: #ecf0f1;
	font-family: 'Fira Sans', sans-serif;
}
h1,
h2 {
	font-weight: bold;
}
p {
	font-size: 16px;
	color: #cdcdcd;
}

.navbar {
	margin-bottom: 0;
	background-color: #34495e;
	color: #ecf0f1;
}

.navbar a {
	color: #ecf0f1;
	font-size: 24px;
	text-decoration: none; 
}

.navbar-header a img {
	margin-top: 18px;
	margin-bottom: 15px;
}

.nav a:hover {
	color: #34495e;
}

.nav a:focus {
	color: #34495e;
}

.nav a:active {
	color: #34495e;
}

.jumbotron {
	background: #34495e;
	color: #ecf0f1;
	text-align: center;
	padding-top: 10%;
	padding-bottom: 16%;
	margin: 0;
}

.row {
	padding: 5.5% 155px;
	background-color: #ecf0f1;
}

.slide {
	padding: 7.5px 300px;
	position:; 
}

.footer {
	width: 100%;
	color: #34495e;
	background-color: #ecf0f1;
	padding: 40px 0;
}

.footer p {
	color: #34495e;
}