body {
	color: #ecf0f1;
	font-family: 'Fira Sans', sans-serif;
}
h1,
h2 {
	font-weight: bold;
}

p {
	font-size: 16px;
	color: #cdcdcd;
}

.navbar {
	margin-bottom: 0;
	background-color: #ecf0f1;
	color: #34495e;
}

.navbar a {
	color: #34495e;
	font-size: 18px;
}

.jumbotron {
	background: #ecf0f1;
	color: #34495e;
	text-align: left;
	padding-top: 5.5%;
	padding-bottom: 5.5%;
	margin: 0;
}

.second-jumbo {
	background: #34495e;
	color: #ecf0f1;
	text-align: right;
}

.second-jumbo h2 {
	font-size: 26px;
}

.row {
	padding: 5.5% 155px;
	background-color: #ecf0f1;
}

.portfolio-item {
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 0;
	margin-bottom: 0;
}

.portfolio-item h3 {
	text-align: center;
	color: #e67e22;
	font-size: 35px;
}

.portfolio-item p {
	text-align: center;
	color: #34495e;
	font-size: 24px;
}

.portfolio-item h3 a { 
	text-align: center;
	color: #e67e22;
	font-size: 35px;
}

.third-jumbo {
	background: #34495e;
	color: #ecf0f1;
	text-align: left;
}

.third-jumbo h2 {
	font-size: 26px;
}

.footer {
	width: 100%
	color: #34495e;
	padding: 40px 0;
}

.footer p {
	color: #34495e;
}