p {
	font-size: 16px;
	color: #333;
}

body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	height: 100%; 
	max-height: 100%; 
	font-family: 'Montserrat', sans-serif;
	/*font-family: 'Raleway', sans-serif;*/
	/*font-family: 'Permanent Marker', cursive;*/
	background-color: #eee;
	color: #333;
	line-height: 1.5em;
}

.name {
	font-size: 40px;
	font-weight: 400; 
}

.name:link {
	text-decoration: none; 
}

.name:hover {
	text-decoration: none; 
	color:#1abc9c; 
}

.name:visited {
	text-decoration: none; 
}

.name:active {
	text-decoration: none; 
}
		
.nav { 
	position: fixed;
	font-weight: 200; 
	top: 30%;
	bottom: 0; 
	right: 0;
	width: 425px; /* Width of navigation frame */
	height: 100%;
	overflow: hidden; /* Disables scrollbars on the navigation frame. To enable scrollbars, change "hidden" to "scroll" */
	background: #eee;
}

.main {
	position: fixed;
	top: 0; 
	left: 0;
	right: 425px; /* Set this to the width of the navigation frame */
	bottom: 0;
	overflow: auto; 
	background: #e0e0e0;
}

.sides {
	margin: 15px; /* Provides padding for the content */
}

p {
	color: #333;
}

nav ul {
	list-style-type: none;
	margin-top: 0;
	padding: 0;
	text-align: center;
}

nav ul a {
	color: #333;
	text-decoration: none;
}
		
/*IE6 fix*/
* html body{
	padding: 0 425px 0 0; /* Set the second value to the width of the navigation frame */
}

* html main{ 
	height: 100%; 
	width: 100%; 
}

.introduction {
	margin-top: 22.5%;
}

.link:link {
	text-decoration: none; 
}

.link:hover {
	text-decoration: none; 
	color: #1abc9c;
}

.link:active {
	text-decoration: none;  
}

.link:visited {
	text-decoration: none; 
}

